.education {
    background-color: #353434;
    padding: 50px;
    text-align: center;
    scroll-margin-top: 90px; /* Ajusta según la altura de tu header */
  }
  
  .education h2 {
    text-align: center;
    color: #fff;
    font-size: 28px; /* Ajustar tamaño del título */
  }
  
  .education-item {
    margin-bottom: 15px;
  }
  
  .education-item h3 {
    color: #f39c12; /* Color del encabezado */
    margin-bottom: 5px;
    font-size: 22px; /* Tamaño del encabezado */
  }
  
  .education-item p {
    margin: 5px 0;
    color: #fff; /* Color del texto */
    font-size: 18px; /* Tamaño del texto */
  }
  
  /* Media query para pantallas más pequeñas (tablets y móviles) */
  @media (max-width: 768px) {
    .education {
      padding: 30px;
    }
  
    .education h2 {
      font-size: 24px; /* Reducir tamaño del título en pantallas más pequeñas */
    }
  
    .education-item h3 {
      font-size: 20px; /* Ajustar tamaño del encabezado */
    }
  
    .education-item p {
      font-size: 16px; /* Ajustar tamaño del texto */
    }
  }
  
  @media (max-width: 480px) {
    .education {
      padding: 20px;
    }
  
    .education h2 {
      font-size: 20px; /* Título más pequeño para pantallas muy pequeñas */
    }
  
    .education-item h3 {
      font-size: 18px; /* Encabezado más pequeño en móviles */
    }
  
    .education-item p {
      font-size: 14px; /* Texto más compacto */
    }
  }
  